.logo-atilla {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.logo-atilla img {
  width: 200px;
}

.img-no-style {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
